# Created by .ignore support plugin (hsz.mobi)
*.class
/target/
*.jar
*.war
/.settings
.idea
src/main/resources/database.properties
TrainingCoursesManagementSystem.iml
/bin/
.classpath
.project
.settings
