
/* Move down content because we have a fixed navbar that is 50px tall */

.container.certain-project{
	width: initial;
}
.certain-project .panel.panel-horizontal {
    display:table;
    width: 350px;
   
}

.certain-project .panel.panel-horizontal > .panel-title .h3{
	padding-left: inherit;
}
.certain-project .panel.panel-horizontal > .panel-heading, .panel.panel-horizontal > .panel-body, .panel.panel-horizontal > .panel-footer {
    display:table-cell;
}
.certain-project .panel.panel-horizontal > .panel-heading, .panel.panel-horizontal > .panel-footer {
    
    border:0;
    vertical-align: middle;
}
.certain-project .panel.panel-horizontal > .panel-heading {
    border-right: 1px solid #ddd;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    width: min-intrinsic;
    padding-right: 0 !important;
    width: 150px;
    background-color: white;
}

.certain-project .editable-label > * {
    display: inline;
}

div#project-name {
    display: inline-block;
    margin-bottom: 20px;
    padding-right: 20px;
}

div#project-name > *{
    display: inline;
}

.certain-project .panel.panel-horizontal.top-panel {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: 0px;
}

.certain-project .panel.panel-default.panel-horizontal.bottom-panel {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: none;
}

.certain-project .panel-btn{
	padding-bottom: 10px;
    /*background-color: #ddd;*/
    background-color: #337ab7;
    margin-bottom: 0px;
    height: 35px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    
}

.certain-project .panel-heading{
    padding-bottom: 10px;
    background-color: #337ab7;
    margin-bottom: 0px;
    height: 50px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

}

/*.certain-project .pull-right-btn {*/
    /*float: right!important;*/
    /*margin-right: 10px;*/
    /*margin-top: 5px;*/
    /*margin-bottom: 5px;*/
    /*background-color: white;*/
    /*color: black;*/
    /*font-weight: 500;*/
    /*border-color: white;*/
/*}*/
.certain-project .add-criteria-btn {
    float: right!important;
    margin-right: 10px;
    margin-top: 2px;
    margin-bottom: 5px;
    background-color: white;
    color: black;
    font-weight: 500;
    border-color: white;
}


.certain-project .list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.certain-project .glyphicon{
	font-size: 20px;
}

.panel.add-panel{
	border: 1px solid #ddd;
    margin-bottom: 0px;
    border-radius: 0px;
    border-bottom-width: initial;
}

.panel.add-panel .form-group{
	margin: 10px;
}

.panel.panel-btn .btn-save{
	color: #d9534f;
}

.rmv-btn{
	float: right!important;
/*     margin: 2px; */
/*     border: 1px solid #ddd; */
    border-radius: 5px;
    padding: 0px;
    display: inline-block;
    color: rgb(166, 166, 166);
}


.rmv-cr-btn{
    border-radius: 5px;
    padding: 0px;
    color: rgb(166, 166, 166);
}

 .arrow {
     cursor: pointer;
 }

 .right{
     margin-right: 10px;
 }

 .modal .modal-header {
    max-height: 550px;
    overflow-y: auto;
}

.panel-collapse {
    max-height: 350px;
     max-width: inherit;
    overflow-y: auto;
}

.panel#project-groups {
    border: 1px solid #ddd;
    border-bottom: none;
}

.panel#project-groups .panel-heading {
    padding-top: 0;
    padding-bottom: 0;
    cursor: pointer;
}

.panel#project-groups .panel-collapse{
    overflow: hidden;
    padding: 0;
    border: 1px solid #ddd;
    border-top: none;
}

.panel#project-groups .panel-collapse .panel-body{
    padding: 0;
}

.panel#project-groups .panel-heading {
    border: none;
}

.panel#project-groups .panel-heading button{
    margin-top: 10px;
}

.panel#project-groups .panel-heading button:last-child {
    margin-right: 0;
}

.panel#project-groups .panel-body table {
    margin-bottom: 0;
}

.panel#project-groups .panel-body table tr:first-child th{
    border: none;
}

.panel#project-groups .panel-body table tr:nth-child(n + 2) td:last-child{
    width: 1%;
    white-space: nowrap;
}

.panel#project-groups .panel-body table tr:nth-child(n + 2) td:last-child > span:last-child{
    display: none;
    visibility: hidden;
    overflow: hidden;
}

div.modal#editGroupModal form {
    margin: 0;
}

div.modal#deleteGroupModal .modal-dialog{
    width: 40%;
    margin: auto;
}

div.modal#deleteGroupModal .modal-body h4 {
    text-align: center;
    margin-bottom: 20px;
}

/*div#project-name h3 {
    font-size: 2em;
}*/

.glyphicon-button,
.glyphicon-button:hover,
.glyphicon-button:active,
.glyphicon-button:focus{
    padding: 0;
    border: none;
    outline: 0 !important;
    background-color: transparent;
}

.glyphicon-button .glyphicon {
    font-size: 15px !important;
    color: #919191;
    cursor: pointer;
}

.glyphicon-button:hover .glyphicon{
    color: #000;
}