/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 12, 2016, 11:12:58 AM
    Author     : michael
*/

.charts-wrapper {
    vertical-align: top;
}

.chart {
    margin: 10px;
}

.chart-bar {
    fill: #4267a3;
}

.chart-bar:hover {
    fill: #4a4c4f;
}

.chart-tip {
    fill: white;
    pointer-events: none;
}

/*.axis-x path.domain,
.axis-x line{
   fill: none;
   stroke: none;
}*/

/*path.domain {
    stroke: none;
}*/

.axis-y .tick line {
   stroke: none;
}

.axis-y path.domain {
    stroke: #000;
    stroke-width: 2px;
}

.axis-y text {
    font-size: 13px;
}

