/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 12, 2016, 11:12:58 AM
    Author     : michael
*/

.charts-wrapper {
    vertical-align: top;
}

.chart-dropdown {
    display: inline;
}

.chart-dropdown button,
.chart-dropdown button:hover,
.chart-dropdown button:focus,
.chart-dropdown button:active {
    border: none;
    outline: none !important;
}

.chart-dropdown:nth-child(2) button:first-child {
    padding-right: 2px;
}

.chart-dropdown button#sort-reset {
    padding-left: 0;
    padding-top: 8px;
}

.chart-dropdown button#sort-reset span{
    color: #CDCDCD;
}

.chart-dropdown button#sort-reset span:hover{
    color: #4267a3;
}

.chart {
    margin: 10px;
}

.chart-bar {
/*    box-sizing: border-box;
    stroke: #000;*/
    fill: #337AB7;
}

.chart-bar:hover {
    fill: #2c3544;
}

.chart-tip {
    font-size: 16px;
    fill: white;
    pointer-events: none;
}

/*.axis-x path.domain,
.axis-x line{
   fill: none;
   stroke: none;
}*/

/*path.domain {
    stroke: none;
}*/

.axis-y .tick line {
   stroke: none;
}

.axis-y path.domain {
    stroke: #000;
    stroke-width: 2px;
}

.axis-y text {
    font-size: 13px;
}

