.form-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
}

.default-form {
    margin-top: 30px;
}

.default-form > .form-group {
    padding: 0;
}

label.required:after,
.form-group.required > label:first-child:after{
    content: "*";
    color: #ff0300;
}

.default-form textarea {
    height: 80px;
    resize: none;
}

/*.default-form input:required {*/
    /*border: 1px solid red;*/
/*}*/

input[type="date"]::-webkit-calendar-picker-indicator{
    display: none;
}

/* input[type="date"]::-webkit-clear-button { */
/*     display: none; */
/* } */

input[type="date"]::-webkit-inner-spin-button{
    display: none;
}

input[type="date"]::-webkit-input-placeholder{
    visibility: hidden !important;
}

#name-message {
	visibility: hidden;
	display: none
}