html {
    background: -webkit-linear-gradient(
            rgb(245, 243, 224) 70%,
            rgba(103, 103, 103, 0.4)
    );
}

body {
    background-color: rgba(0, 0, 0, 0);
}

body {
    padding-bottom: 10px;
}

body > .container > .panel{
    border-radius: 0 0 7px 7px;
}

body > .container > .panel > .panel-body div:first-child {
/*    position: relative;
    z-index: 1;*/
}

.top-info .row {
    margin: 10px 0;
    
}

.top-info h1,
.top-info h2 {
    margin: 0;
    padding: 0;
}

@media (min-width: 1200px) {
    body > .container {
        width: 100%;
        padding: 0;
    }

    body > .container > .panel {
        margin: 0 25px;
    }
}