div.custom-modal .modal-dialog {
    width: 40%;
    margin-left: 30%;
}

div.custom-modal form {
    margin: 0;
}

div.custom-modal form > div,
div.custom-modal form > div:not(:last-child) > div{
    padding: 0;
}

div.custom-modal form > div:last-child{
    text-align: center;
    line-height: 30px;
}

div.custom-modal form > div:last-child:before{
    content: ' ';
    height: 100%;
}

div.custom-modal form > div:last-child > * {
    vertical-align: middle;
    margin-left: 15px;
}

div.custom-modal form div:last-child > *:not(.loading) {
    display: inline-block;
}

div.custom-modal .loading {
    display: none;
}

div.custom-modal form .form-error{
    margin-left: 10px;
    margin-bottom: 0;
    vertical-align: middle;
    font-size: 0.9em;
    color: #ff0000;
}

div.custom-modal form .general-error-wrapper {
    text-align: center;
    display: inline-block;
}

div.custom-modal form .form-error.general-error {
    text-align: center;
    margin-left: 0;
    font-size: 1.1em;
}

div.custom-modal div.bottom-controls {
    padding: 0;
}

.modal-body{
    max-height: 500px;
    overflow-y: auto;
}