#pagination thead{
	background-color: #c9d1d8;
}

#table-listing{
  width: 100%;
}
.meeting {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
     width: auto;

}

.meeting th, td { width: 300px; }

/*эта штука заголовок таблицы по всему скролу тащит*/
/*th:first-child {*/
    /*position: fixed;*/
/*}*/

