#pagination thead {
	background-color: #c9d1d8;
}

#table-listing {
	width: 100%;
}

.meeting {
	display: block;
	overflow-x: auto;
	white-space: nowrap;
	width: auto;
}

.meeting th:first-child {
	position: fixed;
	width: 300px;
}

.meeting th, .meeting td {
	min-width: 200px;
}

